EMAILJS_PUBLIC_KEY=your_public_key_here
EMAILJS_SERVICE_ID=your_service_id_here
EMAILJS_TRAINER_TEMPLATE_ID=your_trainer_template_id_here
EMAILJS_CLIENT_TEMPLATE_ID=your_client_template_id_here
TRAINER_EMAIL=ensarcolpa@gmail.com
